# Locally-built files and binaries
#   Ignore all files ending with .o, everywhere in the repository
**/*.o

#   /src/ directory builds supernova [executable] with make install, ignore this
/src/supernova

#   In the dukecevns code, don't commit binaries or executable file forms
/smearing_code/dukecevns/libDiffSpec_1.0.a
/smearing_code/dukecevns/cevns_recoil_response
/smearing_code/dukecevns/formfactors
/smearing_code/dukecevns/diff_rates
/smearing_code/dukecevns/reactor_diff_rates
/smearing_code/dukecevns/nufluxes
/smearing_code/dukecevns/maptest
/smearing_code/dukecevns/detresp

# ignore everything in the out dir
/out/*

# ipynb_checkpoints and other things that shouldn't ever be added
**/.ipynb_checkpoints
**/.virtual_documents

# old giignore (SNOwGLoBES 1.2)
bin/supernova
out/*.dat
plots/*.root
src/*o
src/supernova
supernova.glb
.idea